* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.libraryContainer {
    resize: both;
    overflow: auto;
    display: grid;
    gap: 4px;
    padding: 4px;
    border: 1px solid grey;
    background-color: skyblue;
    grid-template-columns: repeat(auto-, 1fr);
}

.libraryContainer > div {
    width: auto;
    background-color: #444;
    text-align: center;
    color: #ddd;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 12px;
}

.bookForm {
    display: block;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: auto-fit;
    gap: 8px;
    padding: 8px;
    border: 1px solid grey;
    background-color: #f0f0f0;
}

body {
    display: grid;
}

button {
    background-color: #444;
    color: #ddd;
    font-family: sans-serif;
    font-size: 1rem;
    height: 40px;
    top-margin: 12px;
    width: auto;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

p {
    margin: 12px auto 24px;
}

img {
    height: 60px;
}
